* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.4% 2%;
  background-color: #efe4dc3b;
}
button,
select {
  cursor: pointer;
  border: none;
  border-radius: 7px;
}
button {
  margin-top: 7px;
  height: 25px;
}
p,
span {
  color: #323232;
  font-size: 1rem;
}
.main-pic {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
.main-pic img {
  width: 100%;
}
.railway {
  flex-basis: 60%;
  flex-shrink: 1;
  border-radius: 15px;
  /* margin: 50px auto 0; */
  padding: 20px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 40px;
  background: #ecf2ff;
  transition: 0.6s ease;
  box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.1);
}
.railway:hover {
  background: #e3ebfcf7;
}

.stripes-block:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 12px;
  margin-left: -6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fffffe;
  box-shadow: 0 0 0 2px #291810, 0 0 0 12px #9c8778;
}

.railway h3 {
  border-radius: 10px;
  /* padding: 17px; */
  margin-bottom: 20px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  color: #4983c2;
  /* background: #e3ebfcf7; */
}

.form-group {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #e3ebfcf7;
}

.form-group input,
.form-group label,
.form-group textarea {
  display: block;
  width: 100%;
}

.form-group input,
.form-group select {
  padding: 0;
  line-height: 30px;
  background: #1b2ffa1a;
  border-width: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 7px;
}

select {
  color: #4983c2;
}
.form-group label {
  margin-bottom: 5px;
  color: #4983c2;
  text-transform: uppercase;
  font-size: 12px;
}

.submit-block {
  border-radius: 10px;
  /* padding: 15px; */
  background: #e3ebfcf7;
  text-align: center;
}

.submit-block__btn {
  width: 100%;
  height: 41px;
  background: #1b2ffa1a;
  cursor: pointer;
  color: #4983c2;
  border: none;
  border-radius: 7px;
}
.text_err {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: #faab1b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 30%;
  height: 400px;
  right: 5%;
  background-color: #faf8f7;
  top: 4%;
  transition: 0.5s ease;
  padding-top: 8%;
}
@media screen and (max-height: 880px) {
}
.opacity {
  opacity: 0;
}

.container_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  font-family: "Oswald", sans-serif;
  background-color: #faab1b3d;
  box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.1);
  border-radius: 7px;
  padding: 7px;
  transition: 0.4s ease;
}
.container_item:hover {
  background-color: #faab1b3d;
}

.task span {
  margin-left: 10px;
}

.edit_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  margin: 20px;
  padding: 10px;
  background-color: #faab1b8a;
}
.edit_item label {
  color: #f5e2c7;
}

.wrapper_item-edit label {
  margin-right: 20px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

.edit_item input,
.edit_item select {
  background-color: inherit;
  padding: 5px;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  font-size: 1rem;
}

.none {
  display: none !important;
}

.cosntainer_task {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.container_inprogress,
.container_medium,
.container_deadline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 32%;
  border-radius: 15px;
  min-height: 40vh;
}
.container_inprogress h3 {
  padding: 10px;
  color: rgb(31 94 45 / 38%);
}
.container_medium h3 {
  padding: 10px;
  color: rgb(66 67 25 / 38%);
}
.container_deadline h3 {
  padding: 10px;
  color: rgb(98 35 35 / 32%);
}
.container_inprogress {
  background-color: rgba(92, 247, 128, 0.229);
  transition: 0.4s ease;
}
.container_inprogress:hover {
  background-color: rgba(92, 247, 128, 0.382);
}
.container_medium {
  background-color: rgba(245, 247, 92, 0.208);
  transition: 0.4s ease;
}
.container_medium:hover {
  background-color: rgba(245, 247, 92, 0.377);
}
.container_deadline {
  background-color: rgba(247, 92, 92, 0.162);
  transition: 0.4s ease;
}
.container_deadline:hover {
  background-color: rgba(247, 92, 92, 0.318);
}
.btn_edit,
.btn_del {
  margin-top: 7px;
  height: 25px;
}
.clock-box {
  position: absolute;
  right: 1%;
  top: -3%;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 50%;
  scale: 0.7;
}
@media screen and (max-width: 1303px) {
  .clock-box {
    scale: 0.4;
  }
}
@media screen and (max-width: 1000px) {
  .clock-box {
    right: -5%;
  }
}
@media screen and (max-width: 800px) {
  .clock-box {
    right: -15%;
  }
}
@media screen and (max-width: 650px) {
  .clock-box {
    right: -18%;
  }
}

/*
.arrow-helper {
	width: 500px;
	height: 2px;
	background: #999;
	position: absolute;
	left: 0;
	top: 50%;
	transform-origin: center;}
	
.a1	{transform: rotate(0deg);}	
.a2	{transform: rotate(30deg);}	
.a3	{transform: rotate(60deg);}	
.a4	{transform: rotate(90deg);}	
.a5	{transform: rotate(120deg);}	
.a6	{transform: rotate(150deg);}
*/

.number {
  width: 50px;
  box-sizing: border-box;
  position: absolute;
  font: 32px/50px Arial, sans-serif;
  text-align: center;
  /* border: 2px solid #000; */
}

/* цифры */
.n01 {
  left: 335px;
  top: 35px;
}
.n02 {
  left: 412px;
  top: 110px;
}
.n03 {
  left: 445px;
  top: 222px;
}
.n04 {
  left: 412px;
  top: 332px;
}
.n05 {
  left: 335px;
  top: 405px;
}
.n06 {
  left: 225px;
  top: 442px;
}
.n07 {
  left: 112px;
  top: 405px;
}
.n08 {
  left: 35px;
  top: 332px;
}
.n09 {
  left: 0px;
  top: 225px;
}
.n10 {
  left: 33px;
  top: 110px;
}
.n11 {
  left: 110px;
  top: 35px;
}
.n12 {
  left: 225px;
  top: 0;
}

/* стрелки */
.clock-hands-box {
  width: 6px;
  height: 500px;
  /*background: #fcc; */
  position: absolute;
  left: 247px;
  top: 0;
}

.clock-hand__second {
  width: 2px;
  height: 260px;
  position: absolute;
  z-index: 3;
  right: 2px;
  top: 10px;
  background: rgba(146, 136, 120, 0.85);
  transform-origin: 50% 240px;
  /* transform: rotate(15deg); */
}

.clock-hand__minute {
  width: 4px;
  height: 230px;
  position: absolute;
  z-index: 2;
  right: 1px;
  top: 40px;
  background: rgb(250, 242, 14);
  transform-origin: 50% 210px;
  /* transform: rotate(60deg); */
}

.clock-hand__hour {
  width: 6px;
  height: 200px;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 70px;
  background: rgb(0, 179, 255);
  transform-origin: 50% 180px;
  /* transform: rotate(115deg); */
}
